<footer>

    <nav class="footer-social">
        <ul class="unstyled-list">
            <li>
                <a href="http://twitter.com/JoelCarr" class="twitter" target="_blank">
                    <span class="icon-twitter"></span>
                </a>
            </li>
            <li>
                <a href="http://github.com/JoelCarr" class="github" target="_blank">
                    <span class="icon-github"></span>
                </a>
            </li>
            <li>
                <a href="http://www.linkedin.com/profile/view?id=78407873" class="linkedin" target="_blank">
                    <span class="icon-linkedin"></span>
                </a>
            </li>
        </ul>
    </nav>

</footer>

{% include scripts.html %}