<footer class="site-footer content-padded">

    <h3>Why not check out my social links?</h3>
    <nav class="links-social">
        <ul>
            <li>
                <a href="http://twitter.com/joelcarr" class="twitter" target="_blank">
                    Twitter
                </a>
            </li>
            <li>
                <a href="http://github.com/joelcarr" class="github" target="_blank">
                    Github
                </a>
            </li>
            <li>
                <a href="http://linkedin.com/profile/view?id=78407873" class="linkedin" target="_blank">
                    LinkedIn
                </a>
            </li>
        </ul>
    </nav>

</footer>

{% include scripts.html %}