.introduction {
    position: relative;
    margin-top: 1em;

    .introduction-headshot {
        border: solid 5px $black;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        width: 175px;

        @include transition(width 500ms ease, border-width 500ms ease);

        &:hover {
            width: 250px;
            border-width: 10px;
        }

        @include min-screen($res-tablet) {
            width: 250px;
            height: auto;

            &:hover {
                width: 300px;
            }
        }
    }

    .list-skills {
        @extend .clearfix;
        line-height: 1.5em;

        li {
            width: 100%;
            padding-right: 0;

            @include min-screen(480px) {
                width: 50%;
                float: left;
                padding-right: 2em;
            }

            @include min-screen($res-tablet) {
                width: 100%;
                padding-right: 0;
            }

        }

    }

}