.projects { 

    h2 {
        max-width: 1024px;
        padding: 0 1rem;
        margin: 1em auto;
    }

    a {
        color: $white;
        border-color: $white;

        &:hover,
        &:active,
        &:focus {
            color: $black;
            border-color: $black;
        }

    }

    .button:hover,
    .button:active,
    .button:focus {
        border-color: $white;
    }
}

.projects-list {
    font-family: $type-sans-serif;
    color: $white;

    > li {
        display: block;
        width: 100%;
    }

    .project-container {
        max-width: 720px;
        margin: 0 auto;
    }

    .project {
        display: block;
        height: 100%;
        padding:  4em 1em;
        position: relative;

        text-align: center;
    }

    .project-title {
        margin-top: 0;
        font-size: 2.5em;
    }

    .project-image {
        display: inline-block;
        max-width: 610px;
        margin: 0 auto 1em;
        border: 5px solid $grey-light;
        line-height: 0;

        img {
            width: 100%;
            height: auto;
        }

    }

    .project-skills {
        @extend .clearfix;
        font-weight: bold;

        li {
            display: inline-block;
        }

    }

    .button {
        margin-top: 1em;
    }

}