.projects {

}

.projects-list {
    font-family: $type-sans-serif;

    li {
        display: block;
        width: 100%;
    }

    .project-container {
        max-width: 720px;
        margin: 0 auto;
    }

    .project {
        display: block;
        height: 100%;
        padding:  2em 1em;
        position: relative;

        text-align: center;
    }

    .project-image {
        max-width: 610px;
        margin: 0 auto;
        border: 5px solid $grey-light;
        line-height: 0;

        img {
            width: 100%;
            height: auto;
        }

    }

}