$type-sans-serif: 'Droid Sans', sans-serif;
$type-serif: 'Droid Serif', serif;

body {
    font-family: $type-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $type-sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

p {
    line-height: 1.6em;
}

a {
    color: $white;
    background-color: $black;
    font-weight: bold;
    padding: 2px;
    border: 1px solid $black;
    text-decoration: none;
    @include transition(color 250ms ease, background-color 250ms ease);

    &:hover,
    &:active,
    &:focus {
        color: $black;
        background-color: $white;
        text-decoration: none;
    }
}