$type-sans-serif: 'Droid Sans', sans-serif;
$type-serif: 'Droid Serif', serif;

body {
    font-family: $type-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $type-sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

p {
    line-height: 1.6em;
}

a {
    color: $black;
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: 2px dotted $black;
    text-decoration: none;
    @include transition(color 250ms ease, background-color 250ms ease, border-color 250ms ease);

    &.twitter {
        color: $twitter-brand-color;
        border-color: $twitter-brand-color;
    }

    &.github {
        color: #eba983;
        border-color: #eba983;
    }

    &:hover,
    &:active,
    &:focus {
        color: $grey;
        border-color: $white;
    }

}

/**
 * Icon font stuff
 */

[class^="icon-"], [class*=" icon-"] {
    font-family: 'social';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
    content: "\e600";
}
.icon-twitter:before {
    content: "\e601";
}
.icon-linkedin:before {
    content: "\e602";
}
