@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .prose > * + * {
    margin-top: var(--space-4);
  }

  .prose h2,
  .prose h3 {
    margin-top: var(--space-8);
  }

  .prose ul,
  .prose ol {
    padding-left: var(--space-6);
  }
}
