* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 93.75%;
  scroll-behavior: smooth;
}

@media (min-width: 36rem) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 40rem) {
  html {
    font-size: 106.25%;
  }
}

@media (min-width: 44rem) {
  html {
    font-size: 112.5%;
  }
}

body {
  font: normal 1rem/1.5rem system-ui;
  margin: 0;
  max-width: 48rem;
  padding: 0 1rem 1rem 1rem;
}

h1 {
  font: bold 3rem/4rem Helvetica, sans-serif;
  margin: 2rem 0 0 0;
}

h2 {
  font: bold 2rem/2.5rem Helvetica, sans-serif;
  margin: 2rem 0 0 0;
}

h3 {
  font: bold 1.5rem/2rem Helvetica, sans-serif;
  margin: 2rem 0 0 0;
}

p {
  margin: 1rem 0 0 0;
}

small {
  font: bold 1rem/1.5rem Helvetica, sans-serif;
  margin: 2rem 0 0 0;
}

dl {
  margin: 1rem 0 0 0;
}

dt,
dd {
  display: inline;
}

dt {
  font: bold 1rem/1.5rem system-ui;
}

dd {
  font: normal 1rem/1.5rem system-ui;
  margin-left: 0.25rem;
}

.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inline-list li {
  display: inline-block;
}

.inline-list li::after {
  content: ", ";
}

.inline-list li:last-child::after {
  content: "";
}

.screen-reader-only {
  position: absolute;
  left: -1000rem;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
