html {
    font-size: 100%;
}

body {
    font-family: Georgia, serif;
    font-size: 16px;
    margin: 0;
    padding: 0 20px 20px 20px;
    max-width: 768px;
}

h1, h2, h3, h4 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    line-height: 1.6rem;
}

small {
    font-size: .75em;
}

a {
    color: #507DBC;
    font-weight: bold;
    border-bottom: 2px dotted #507DBC;
    text-decoration: none;
    transition: color 250ms ease, background-color 250ms ease, border-color 250ms ease;
}

    a:hover,
    a:active,
    a:focus {
        color: #A1C6EA;
        border-color: #FFF;
    }

dt, dd {
    display: inline;
    line-height: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 4px;
}

.unstyled-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.inline-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .inline-list li {
        display: inline-block;
    }

        .inline-list li::after {
            content: ", ";
        }

        .inline-list li:last-child::after {
            content: "";
        }
